@model IEnumerable<DataLayer.Models.Book>

<h2>Книги</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить новую книгу</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Автор</th>
            <th>Дата издания</th>
            <th>Оглавление</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Author</td>
                <td>@item.YearOfPublication?.ToString("yyyy-MM-dd")</td>
                <td>@Html.Raw(item.TableOfContents)</td>
                <td>
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.BookID">Изменить</a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.BookID">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
